# AssignmentTracker requirements.txt

# ** On Windows, do this in a cmd shell opened
#  as administrator, to avoid 'sdl2 module not found':
#  https://github.com/kivy/kivy/issues/5677#issuecomment-389990608

# usage: 'pip install -r requirements.txt'

# note, kivy.deps modules must be installed before kivy:

docutils
pillow
pygments
pypiwin32
kivy.deps.sdl2
kivy.deps.glew
kivy
certifi
websocket-client
websockets
sartopo_python